:root {
  --mainBlack:#232528;
  --lightWhite:#fff;
  --mainYellow: #ffa400;
  --mainBackground: #8F9A90;
  --mainGreen: #599C11;

}

body {
   font-family: "Poppins", sans-serif !important;
   background: url(./assets/StarsBackground.JPG) repeat !important;
   background-size: cover;
  }

.text-title {
  font-family:'Rubik';
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}

.text-black{
  color: var(--mainBlack);
}

.text-bright {
  color: var(--lightWhite);
}

.btn-green {
  background: var(--lightWhite) important!;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color:var(--mainGreen);
  border-radius: 1.2 !important;
  border:0.1rem solid var(--mainBlack) !important;
}

.btn-green:hover{
  bacground: var(--lightWhite) !important;
  color:var(--lightWhite) !important;
}


.btn-white {
  background: var(--lightWhite) !important;
  text-transform:capitalize;
  font-size: 0.8rem !important;
  color:var(--mainGreen);
  border-radius: 1.2 !important;
  border:0.1rem solid var(--mainGreen) !important;
}

.cart-icon{
  cursor: pointer;
  font-size: 1.2rem;
  color:var(--mainYellow);
}

.img {
  display: block;
  max-width: 100%;
  height: auto;
}

.backgroundLite {
 
  background: var(--lightWhite) !important;

}